@inherits LayoutComponentBase

<div class="page">
    <main>
        <nav class="navbar headerBar">
            <div class="container-fluid">
                <Header />
            </div>
        </nav>
        
        <div class="row">
            <div>
                <NavMenu />
            </div>

            <article id="mainArticle" class="content mx-4">
                @Body
            </article>
        </div>
        
    </main>
</div>
