@inherits LayoutComponentBase

<div class="page">
    <main>
        <nav class="navbar headerBar w-100">
            <div class="container-fluid w-100">
                <Header />
            </div>
        </nav>
        
        <div class="row">
            <div>
                <NavMenu />
            </div>

            <article id="mainArticle" class="content mx-4 bg-white">
                @Body
            </article>
        </div>
        
    </main>
</div>
