<div class="row col-10 text-center pt-2">

<CascadingValue Value="this">
    <ul class="nav nav-tabs pe-0">

@foreach (TabPage tabPage in Pages)
  {
      <li class="nav-item">
            <a
              class="nav-link custom-tab @GetTabClass(tabPage)"
              @onclick=@(() => ActivatePage(tabPage))>
              @tabPage.Text
            </a>
       </li>
  }
  </ul>
  @ChildContent
</CascadingValue>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public TabPage ActivePage { get; set; }
    List<TabPage> Pages = new List<TabPage>();

    internal void AddPage(TabPage tabPage)
    {
        Pages.Add(tabPage);
        if (Pages.Count == 1)
        ActivePage = tabPage;
        StateHasChanged();
    }

    string GetTabClass(TabPage page)
    {
        return page == ActivePage ? "active" : "";
    }

    void ActivatePage(TabPage page)
    {
        ActivePage = page;
    }

}

<style>
    .custom-tab.active {
        background: transparent !important;
        border-bottom: 2px solid dodgerblue !important;
        border-radius: 0px !important;
        border: 0;
    }
    .custom-tab {
        color: lightgrey;
    }
    .nav-tabs {
        border-bottom: 2px solid lightgrey !important;
        cursor:pointer;
    }
</style>