@page "/"

<PageTitle>Lynx Console</PageTitle>

<h1 class="pt-3 pb-4">Welcome to LYNX!</h1>

<span>Use LYNX Insights to explore key points of information and make better business decisions.</span>
<div class="container-fluid pt-4">
    <Filters/>
    <TabControl>
        <TabPage Text="Overview">
            <Overview/>
        </TabPage>
        <TabPage Text="Carriers">
            <Carriers/>
        </TabPage>
    </TabControl>
</div>
