@page "/"

<PageTitle>Lynx Console</PageTitle>

<h1>Welcome to LYNX!</h1>

Use LYNX Insights to explore key points of information and make better business decisions.
<div class="container-fluid">
    <Filters/>
    <TabControl>
        <TabPage Text="Overview">
            <Overview/>
        </TabPage>
        <TabPage Text="Carriers">
            <Carriers/>
        </TabPage>
    </TabControl>
</div>
