<div class="row text-center pt-3 pe-0">
    <div class="col ps-0">
        <div class="card p-3 h-100" style="height:248px">
            <div class="card-title px-3 d-flex justify-content-between align-items-center">
                <h6>Current liftable inventory</h6>

                <h4>101.22K BBLS</h4>
            </div>
            <div class="card-body">
                <p class="card-text text-start fs-6">Premium Gasoline</p>
                <p class="card-text text-start text-danger"><span class="fs-5 text">7.73K</span> <span class="fs-6">BBLS</span></p>
                <p class="card-text text-start fs-6">Regular Gasoline</p>
                <p class="card-text text-start text-success"><span class="fs-5 text">7.73K</span> <span class="fs-6">BBLS</span></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card p-3 h-100" style="height:248px" >
            <div class="card-title px-3 d-flex">
                <h6>Today's shipments</h6>
            </div>
            <div class="card-body pt-0">
                <div class="row justify-content-between"><span class="text-start text-info w-50">20.23K BBLS</span><span class="text-end w-50">30.19K BBLS</span></div>
                <div class="row justify-content-between pb-4"><span class="text-start w-50">Closed</span><span class="text-end w-50">Expected</span></div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 67%" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="card-body">
                <div class="row justify-content-between">
                    <span class="text-start w-50 px-0">
                        <span class="text-success">
                            <svg class="bi mx-0" width="32" height="32" fill="green">
                                <use href="icons/bootstrap-icons.svg#arrow-up-short"></use>
                            </svg>21%
                        </span> From yesterday
                    </span><span class="text-end w-50">67%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col pe-0">
        <div class="card p-3 h-100" style="height:248px">
            <div class="card-title p-4 d-flex justify-content-between align-items-center">
                <h6>Shipments this month</h6>

                <h6>292.13K BBLS</h6>
            </div>
            <div class="card-body">
                <div class="row justify-content-between pb-4 text-end" style="font-size:8pt;">
                    <span>
                        <span class="text-success">
                            <svg class="bi mx-0" width="24" height="24" fill="green">
                                <use href="icons/bootstrap-icons.svg#arrow-up-short"></use>
                            </svg>14%
                        </span> From yesterday
                    </span>
                    
                </div>
            </div>
            <div class="card-body p-0">
                <div class="row justify-content-between">
                    <RadzenGroupedColumnChart Shipments2022="groupedColumnChartData2" Shipments2021="groupedColumnChartData1"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row text-center pt-3 pe-0">
    <div class="col ps-0">
        <div style="height:448px" class="card p-0">
            <div class="card-title p-4 pb-3 d-flex justify-content-between align-items-center">
                <h6>Inventory timeline</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="invis"></li>
                <li class="invis"></li>
                <li class="invis"></li>
                <li class="noDot"><RadzenLineChart Bbls="lineChartData" /></li>
                <li class="invis"></li>
            </ul>
        </div>
    </div>
    <div class="col pe-0">
        <div style="height:448px" class="card p-0">
            <div class="card-title p-4 pb-3 d-flex justify-content-between align-items-center">
                <h6>Current liftable inventory by tank</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="invis"></li>
                <li class="invis"></li>
                <li class="invis"></li>
                <li class="noDot"><RadzenStackedBarChart /></li>
                <li class="invis"></li>
            </ul>
        </div>
    </div>
</div>

<div class="row text-center pt-3 pe-0">
    <div class="col ps-0">
        <div style="height:448px" class="card p-0">
            <div class="card-title p-4 pb-3 d-flex justify-content-between align-items-center">
                <h6>Current inventory product mix</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="invis"></li>
                <li class="noDot"><RadzenPieChart Revenue="pieChartData" /></li>
            </ul>
        </div>
    </div>
    <div class="col pe-0">
        <div style="height:448px" class="card p-0">
            <div class="card-title p-4 pb-3 d-flex justify-content-between align-items-center">
                <h6>Current inventory by tank</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="noDot"><Table /></li>
            </ul>
        </div>
    </div>
</div>

<div class="row text-center pt-3 pe-0">
    <div class="col ps-0">
        <div style="height:448px" class="card p-0">
            <div class="card-title p-4 pb-3 d-flex justify-content-between align-items-center">
                <h6>Shipments this month</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="invis"></li>
                <li class="invis"></li>
                <li class="invis"></li>
                <li class="noDot"><RadzenLineChart Bbls="lineChartData" /></li>
                <li class="invis"></li>
            </ul>
        </div>
    </div>
    <div class="col pe-0">
        <div style="height:448px" class="card p-0">
            <div class="card-title p-4 pb-3 d-flex justify-content-between align-items-center">
                <h6>Current liftable inventory by tank</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="invis"></li>
                <li class="noDot"><RadzenColumnChart LiftableInventory="columnChartData1" Step="10000" /></li>
                <li class="invis"></li>
            </ul>
        </div>
    </div>
</div>

<div class="row text-center pt-3 pe-0">
    <div class="col ps-0">
        <div style="height:448px" class="card p-0">
            <div class="card-title p-4 pb-3 d-flex justify-content-between align-items-center">
                <h6>Current liftable inventory by tank</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="invis"></li>
                <li class="noDot"><RadzenColumnChart LiftableInventory="columnChartData2" Step="50000" /></li>
                <li class="invis"></li>
            </ul>
        </div>
    </div>
    <div class="col pe-0">
        <div style="height:448px" class="card p-0">
            <div class="card-title p-4 pb-3 d-flex justify-content-between align-items-center">
                <h6>Current liftable inventory by tank</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="invis"></li>
                <li class="noDot"><RadzenColumnChart LiftableInventory="columnChartData3" Step="20000" Width="35" /></li>
                <li class="invis"></li>
            </ul>
        </div>
    </div>
</div>

@code {

    RadzenChartData[] groupedColumnChartData1 = new RadzenChartData[] {
        new RadzenChartData
        {
            Category = "M1",
            Value = 234000
        },
        new RadzenChartData
        {
            Category = "M2",
            Value = 284000
        },
        new RadzenChartData
        {
            Category = "M3",
            Value = 274000
        },
        new RadzenChartData
        {
            Category = "M4",
            Value = 294000
        },
        new RadzenChartData
        {
            Category = "M5",
            Value = 234000
        },
        new RadzenChartData
        {
            Category = "M6",
            Value = 284000
        },
        new RadzenChartData
        {
            Category = "M7",
            Value = 274000
        },
        new RadzenChartData
        {
            Category = "M8",
            Value = 294000
        },
        new RadzenChartData
        {
            Category = "M9",
            Value = 234000
        },
        new RadzenChartData
        {
            Category = "M10",
            Value = 284000
        },
        new RadzenChartData
        {
            Category = "M11",
            Value = 274000
        },
        new RadzenChartData
        {
            Category = "M12",
            Value = 294000
        },
        new RadzenChartData
        {
            Category = "M13",
            Value = 294000
        },
    };

    RadzenChartData[] groupedColumnChartData2 = new RadzenChartData[] {
        new RadzenChartData
        {
            Category = "M1",
            Value = 254000
        },
        new RadzenChartData
        {
            Category = "M2",
            Value = 324000
        },
        new RadzenChartData
        {
            Category = "M3",
            Value = 354000
        },
        new RadzenChartData
        {
            Category = "M4",
            Value = 394000
        },
        new RadzenChartData
        {
            Category = "M5",
            Value = 254000
        },
        new RadzenChartData
        {
            Category = "M6",
            Value = 324000
        },
        new RadzenChartData
        {
            Category = "M7",
            Value = 354000
        },
        new RadzenChartData
        {
            Category = "M8",
            Value = 394000
        },
        new RadzenChartData
        {
            Category = "M9",
            Value = 254000
        },
        new RadzenChartData
        {
            Category = "M10",
            Value = 324000
        },
        new RadzenChartData
        {
            Category = "M11",
            Value = 354000
        },
        new RadzenChartData
        {
            Category = "M12",
            Value = 394000
        },
        new RadzenChartData
        {
            Category = "M13",
            Value = 394000
        },

    };

    RadzenChartData[] columnChartData1 = new RadzenChartData[] {
        new RadzenChartData
        {
            Category = "10",
            Value = 25400
        },
        new RadzenChartData
        {
            Category = "11",
            Value = 52400
        },
        new RadzenChartData
        {
            Category = "12",
            Value = 15400
        },
        new RadzenChartData
        {
            Category = "13",
            Value = 39400
        },
        new RadzenChartData
        {
            Category = "14",
            Value = 65400
        },
        new RadzenChartData
        {
            Category = "18",
            Value = 42400
        },

    }.OrderByDescending(t => t.Value).ToArray();

    RadzenChartData[] columnChartData2 = new RadzenChartData[] {
        new RadzenChartData
        {
            Category = "FHR 87NL",
            Value = 165000
        },
        new RadzenChartData
        {
            Category = "FHR DSL",
            Value = 45000
        },
        new RadzenChartData
        {
            Category = "FHR 91NL",
            Value = 3000
        },

    }.OrderByDescending(t => t.Value).ToArray();

    RadzenChartData[] columnChartData3 = new RadzenChartData[] {
        new RadzenChartData
        {
            Category = "SERV Energy, LLC",
            Value = 63400
        },
        new RadzenChartData
        {
            Category = "Robco fuels, LLC",
            Value = 48400
        },
        new RadzenChartData
        {
            Category = "Oleumv LLC",
            Value = 47400
        },
        new RadzenChartData
        {
            Category = "Xemoll LLc",
            Value = 16400
        },
        new RadzenChartData
        {
            Category = "Hevi Logistics, LLC",
            Value = 10400
        },
        new RadzenChartData
        {
            Category = "TCI Control USA, LLC",
            Value = 6400
        },
        new RadzenChartData
        {
            Category = "Musket Corporation",
            Value = 5400
        },
        new RadzenChartData
        {
            Category = "Grupo Retrotamps",
            Value = 4400
        },
        new RadzenChartData
        {
            Category = "WILLY'S FUELS",
            Value = 2400
        },
        new RadzenChartData
        {
            Category = "Key Performance Petroleum",
            Value = 1400
        },
        new RadzenChartData
        {
            Category = "Tartan OII LLC",
            Value = 700
        },

    }.OrderByDescending(t => t.Value).ToArray();

    RadzenChartData[] pieChartData = new RadzenChartData[] {
        new RadzenChartData
        {
            Category = "ULSD",
            Value = 30000
        },
        new RadzenChartData
        {
            Category = "Premium Gas",
            Value = 40000
        },
        new RadzenChartData
        {
            Category = "Regular Gas",
            Value = 50000
        },
    };

    RadzenChartData[] lineChartData = new RadzenChartData[] {
        new RadzenChartData
        {
            Category = ("2022-01-01"),
            Value = 28000
        },
        new RadzenChartData
        {
            Category = ("2022-02-01"),
            Value = 30000
        },
        new RadzenChartData
        {
            Category = ("2022-03-01"),
            Value = 6400
        },
        new RadzenChartData
        {
            Category = ("2022-04-01"),
            Value = 13000
        },
        new RadzenChartData
        {
            Category = ("2022-05-01"),
            Value = 12000
        },
        new RadzenChartData
        {
            Category = ("2022-06-01"),
            Value = 4000
        },
        new RadzenChartData
        {
            Category = ("2022-07-01"),
            Value = 4000
        },
        new RadzenChartData
        {
            Category = ("2022-08-01"),
            Value = 9000
        },
        new RadzenChartData
        {
            Category = ("2022-09-01"),
            Value = 16000
        },
        new RadzenChartData
        {
            Category = ("2022-10-01"),
            Value = 15000
        },
        new RadzenChartData
        {
            Category = ("2022-11-01"),
            Value = 19000
        },
        new RadzenChartData
        {
            Category = ("2022-12-01"),
            Value = 27000
        }
    };

}
<style>
    .invis {
        visibility:hidden;
    }

    .noDot{
        list-style-type: none;
    }
</style>
